* {
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    margin-top: 50px;
    
    padding:40px;
    

}
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding-top: 100px; 
}
.background-image {
    width: 500px;
    height:auto;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-container {
    margin-top:5Opx;
    width: 100%;
    max-width: 350px;
    
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin:100px;
}

form label {
    display: block;
    margin: 20px 0 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    background-color: blacK;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
    
}

.alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ddd;
    color: blacK;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;

}

.alert.visible {
    opacity: 1;
}

.hidden {
    display: none;
}
